

body {
    min-width: 320px;

    margin: 0;
    padding: 0;

    font-family: 'Roboto Slab', arial, Helvetica, sans-serif;
    color: #333333;
    font-style: normal;

    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}


 * {
   
    box-sizing: border-box;
} 

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}





    
/* HEADER */


/* 1 section */


.top__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    background-color: #8bc34a;

    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}


.reserv__social {
    color: #fff;
    font-size: 13px;
}



/* 2 section */

.logo__flex {
    height: 80px;
    background-color: #fff;
    
    padding-left: 25px;
    padding-right: 25px;
}

.top__logo {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* NAVBAR */

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}
  






/* FOOTER */

.footer__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 15px;

    background-color: #8bc34a;
    
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__links-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    text-align: left;
}

.footer__links-links a {
    padding-bottom: 15px;
}

.footer__links-both {
    padding: 80px;
}




/* ////////////////////////////             MOBILE              ///////////////////////////////////*/

@media only screen and (max-width: 1090px) { /* 768 */

    .top__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 84px;

        align-items: center;
        text-align: center;
    }



    .nav-menu {
        position: absolute;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* MAIN */

    .logo__flex {
        height: 108px;
        align-items: center;
        padding: 10px;
    }



  
}



@media only screen and (max-width: 935px) {
    
      /* FOOTER */

    .logo__photo {
        padding: 30px;
    }

    .footer__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    
        font-size: 15px;
    }
    
    .footer__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer__links-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        text-align: left;
    }
    
    .footer__links-links a {
        padding-bottom: 15px;
    }
    
    .footer__links-both {
        padding: 80px;
    }


}

@media only screen and (max-width: 740px) {
    .footer__links {
        flex-direction: column;
        align-items: left;
    }

    .footer__links-links a {
        padding-bottom: 0;
    }
    
    .footer__links-both {
        padding: 40px;
    }
}

/* ////////////////////////              END MOBILE                        //////////////////////////// */

