

body {
    min-width: 320px;

    margin: 0;
    padding: 0;

    font-family: 'Roboto Slab', arial, Helvetica, sans-serif;
    color: #333333;
    font-style: normal;

    background-color: #fff;
}

a {
    text-decoration: none;
    color: inherit;
}


 * {
   
    box-sizing: border-box;
} 

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

/* li {
    list-style: none;
} */

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}





    
/* HEADER */


/* 1 section */


.top__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    
    background-color: #8bc34a;

    padding-left: 30px;
    padding-right: 30px;
    margin: 0;
}


.reserv__social {
    color: #fff;
    font-size: 13px;
}



/* 2 section */

.logo__flex {
    height: 80px;
    background-color: #fff;
    
    padding-left: 25px;
    padding-right: 25px;
}

.top__logo {
    padding-top: 20px;
    padding-bottom: 20px;
}



/* NAVBAR */

.header {
    border-bottom: 1px solid #E2E8F0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: #482ff7;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}


  
/* MAIN */

/* 1 section */

.container__welcome_img {
    background-image: url("../img/istockphoto-1195458582-170667a.jpg");
    
    height: 650px; 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    display: block;
}

.container__welcome_img p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
    font-size: 55px;
    line-height: 2;
    text-align: center;
    padding: 0px;
}




/* SECTION WITH LEAF 1 */

.sectionWithLeaf {
    padding: 60px;
    margin: 20px;
    text-align: center;
}

.sectionWithLeaf_1-h1 {
    font-size: 33px;
    color: #333333;
}

.sectionWithLeaf_p {
    font-size: 32px;
    color: rgba(81, 81, 81, 1);
}

.h3forSectionLeaf {
    font-size: 32px;
    color: #333333;
    padding-bottom: 50px;
}


/*/////// 3IMG ////////*/

.threeImg {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
    padding-top: 0px;
    padding-right: 30px;
    padding-bottom: 45px;
    padding-left: 30px;
    margin: 30px;
}

.threeImg img {
    padding: 10px;
    margin: 0;
}




/* SECTION WITH LEAF 2 */

.socialWhats_button {
    font-size: 18px;
    color: #753800;
    font-weight: bold;

    padding: 20px 40px;
    margin-top: 50px;

    background-color: #F2BF2C;
    border-radius: 5px;
    transition: 0.3s;
}

.socialWhats_button:hover {
    color: #fff;
    background-color: #ac8922;
    
}


/* SPONSORS */

.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    padding: 50px 20;
    margin: 40px;
}

.sponsors span {
    padding: 50px 20px;
    font-weight: inherit;
    
    color: #999999;
    font-size: 24px;
}

/* PLAYER */



/* GREEN NATURAL */

.natural {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 30px;
    margin: 50px;

    color: #333333;
    font-size: 40px;
    text-align: center;
}

.imgWrap {
    display: flex;
    justify-content: space-around;
    flex-direction: row;

    padding: 20px;
    margin: 30px;
}

.imgWrap_block {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    padding: 20px;
    margin: 30px;
}

.imgWrap_block p {
    font-size: 18px;
    text-align: center;
}




/* BULLET SECTION */

.bulletSection {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

.bulletSection_title {
    font-size: 24px;
    margin: 32px 0px;
    padding: 0px 10px;
}

.bulletSection_p {
    font-size: 15px;
    color: #747474;
    text-align: left;

    padding: 0px 10px;
}


.bulletSection_list {
    display: flex;
    flex-direction: column;
    align-items: left;
    text-align: left;
}

.bulletSection_list-item {

    display: flex;
    flex-direction: row;
    align-items: left;
    text-align: left;

    font-size: 18px;
    color: #333333;
    margin: 14px 0px;
    margin-left: -45px;
    padding: 0px 10px;
    list-style: none;


}

.bulletSection_list-item img {
    margin: 35px;
    position: relative;
    top: -30px;
}

.bulletSection_list-item p {
    color: #333333;
    font-size: 18px;
}



/* BROWN VIDEO */

.brownVideo {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-between; */

    padding: 40px 220px;
    
    background-color: rgba(74, 50, 10, 1);
}

.brownVideo_text {
    display: flex;
    flex-direction: column;

    font-size: 15px;
    color: #fff;
    width: 500px;
    line-height: 2;

    /* padding: 20px; */
}

.brownVideo_video {
    padding: 20px;
}






/* FOOTER */


.footer__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    font-size: 15px;

    background-color: #8bc34a;
    
}

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer__links-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: left;
    text-align: left;
}

.footer__links-links a {
    padding-bottom: 15px;
}

.footer__links-both {
    padding: 80px;
}


.last__wrap {
    background-color: rgba(139,195,74,0.64);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.copyright {
    word-spacing: 5px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;

    line-height: 23px;

    font-size: 12px;
}

.copyright a {
    color: #fff;
}
.copyright p {
    color: #999999;
}

.bottom__instagram {
    padding: 20px;
}

/* ////////////////////////////             MOBILE              ///////////////////////////////////*/

@media only screen and (max-width: 1520px) {

    /* MAIN */
     
    .imgWrap {
        flex-direction: column;
    }

    .imgWrap_block img {
        width: 200px;
    }

    .imgWrap_block p {
        font-size: 25px;
    }

    
    

}

@media only screen and (max-width: 1200px) { /* 768 */

    .container__welcome_img--desktop {
        display: none;
    }

    .bg_video {
        display: none;
    }

    .top__flex {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 84px;

        align-items: center;
        text-align: center;
    }



    .nav-menu {
        position: absolute;
        left: -100%;
        top: 18rem;
        flex-direction: column;
        background-color: #fff;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);

        z-index: 1;
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* MAIN */

    .logo__flex {
        height: 108px;
        align-items: center;
        padding: 10px;
    }
  
}



@media only screen and (max-width: 935px) {
    
      /* FOOTER */

    .logo__photo {
        padding: 30px;
    }

    .footer__wrap {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        
    
        font-size: 15px;
    }
    
    .footer__links {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer__links-links {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: left;
        text-align: left;
    }
    
    .footer__links-links a {
        padding-bottom: 15px;
    }
    
    .footer__links-both {
        padding: 80px;
    }


}

@media only screen and (max-width: 740px) {
    .footer__links {
        flex-direction: column;
        align-items: left;
    }

    .footer__links-links a {
        padding-bottom: 0;
    }
    
    .footer__links-both {
        padding: 40px;
    }
}

/* ////////////////////////              END MOBILE                        //////////////////////////// */









/* //////////////////////////////////////////////      DESKTOP      ///////////////////////////////////////////////////////  */


/* MAIN */

@media only screen and (min-width: 1200px) {
    .bg_video {
        
        width: 100%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: auto;
    }
    .container__welcome_img {
        display: none;
    }
    .container__welcome_img--desktop {
        display: block;

        text-align: center;
        font-size: 85px;
        line-height: 2;
        color: #fff;

        position: absolute;
        margin-top: -700px;
        margin-left: 300px;
    }

    .container__welcome_img--desktop {
        background-image: url("../img/istockphoto-1195458582-170667a.jpg");
        
        height: 650px; 
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center;
        background-size: cover;
    
        display: block;
    }
    
    .container__welcome_img--desktop p {
        position: absolute;
        top: 0%;
        transform: translate(-50%, -50%);
    
        text-align: center;
        font-size: 85px;
        line-height: 2;
        text-align: center;
        padding: 20px;
    }
}

